@page "/posts/showcased"
@using PPTWebApp.Data.Models
@using PPTWebApp.Data.Services
@inject PostService PostService

<div class="posts-container d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-center">Highlighted Posts</h3>

    <div class="container">
        <div class="row justify-content-center">
            @foreach (var post in posts)
            {
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
                    <PostPreview Post="post" />
                </div>
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<Post> posts = Enumerable.Empty<Post>();

    protected override async Task OnInitializedAsync()
    {
        posts = PostService.GetHighlightedPosts();
    }
}
