@page "/posts"
@using PPTWebApp.Data.Models
@using PPTWebApp.Data.Services
@inject PostService PostService
@rendermode InteractiveServer

<div class="posts-page-container">
    <PostsShowcased />
    <PostsOverview />
</div>

@code {
}
