@page "/"
@page "/home"
@using Microsoft.AspNetCore.Components
@using PPTWebApp.Components.Pages.Home

<PageTitle>Home</PageTitle>

<div class="container-fluid scroll-container">
    @foreach (var module in Modules)
    {
        <section class="scroll-section" id="section@(module.Id)">
            <DynamicComponent Type="@module.ComponentType" />
        </section>
    }
</div>

@code {
    public class Module
    {
        public required Type ComponentType { get; set; }
        public required string Id { get; set; }
    }

    private List<Module> Modules { get; set; } = new();

    protected override void OnInitialized()
    {
        Modules = new List<Module>
        {
            new Module { ComponentType = typeof(Highlights), Id = "1" },
            new Module { ComponentType = typeof(Video), Id = "2" },
            new Module { ComponentType = typeof(Highlight), Id = "3" }
        };
    }
}