<div class="video-wrapper">
    <h3 class="video-header">Why Choose Sustainable Timber for Kitchenware</h3>

    <p class="video-description">
        This video explores the importance of using sustainably sourced timber across various industries, including kitchenware. Learn how opting for kitchen utensils and accessories made from sustainable wood supports responsible forestry, reduces deforestation, and promotes biodiversity. By choosing products crafted from sustainably harvested timber, you contribute to the conservation of natural resources while enjoying the natural beauty and durability of wood in your kitchen.
    </p>

    <div class="video-container">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/KH3fMC_vo3U"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>
