.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: #f8f9fa;
}

footer {
    padding: 20px;
    background-color: #343a40;
    color: white;
    text-align: center;
}

@media (max-width: 640px) {
    .navbar-nav .nav-link {
        margin-left: 0;
    }
}
