@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using PPTWebApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="Logo" height="40" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/products/highlighted">Main Products</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/products">Other Products</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/posts">Posts</NavLink>
                </li>
                @if (isAdmin)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/admin">Admin Panel</NavLink>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (!isLoggedIn)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/account/login">Login</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/account/register">Register</NavLink>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @userName (@email)
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                            <li>
                                <form method="post" action="/account/logout">
                                    <input type="hidden" name="returnUrl" value="" />
                                    <AntiforgeryToken />
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</header>


<main>
    @Body
</main>


@code {
    private bool isLoggedIn = false;
    private bool isAdmin = false;
    private string userName = "";
    private string email = "";


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isLoggedIn = user.Identity.IsAuthenticated;

        Console.WriteLine("Button clicked!");

        if (isLoggedIn)
        {
            var currentUser = await UserManager.GetUserAsync(user);
            if (currentUser != null)
            {
                userName = currentUser.UserName ?? "Unknown User1";
                email = currentUser.Email ?? "No Email1"; // Set email if available
                isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
            }
            else
            {
                userName = "Unknown User2";
                email = "No Email2"; // Fallback if email is not available
                isAdmin = false;
            }
        }
    }

    private async Task Logout()
    {
        // Run logout asynchronously to ensure UI doesn't try to update prematurely
        await Task.Run(async () =>
        {
            await SignInManager.SignOutAsync();
        });

        // Redirect after logout
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
