@using PPTWebApp.Components.Pages.Cookies
@using PPTWebApp.Components.Pages.Demo
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase



<div class="page">
    <MainHeader />
    <CookiesPopup />
    <DemoPanel />
    <main>
        @Body
    </main>
</div>


