.dashboard-scroll-container {
    height: calc(100vh - 60px); /* TODO: fix the hardcoded header space */
    overflow-y: auto;
    padding: 1.5rem;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
    margin: 0;
    height: auto;
    min-height: 100%;

}

.card {
    margin-bottom: 20px;
}

