@page "/posts"
@using PPTWebApp.Data.Models
@using PPTWebApp.Data.Services
@inject PostService PostService

<h3>Posts</h3>

@foreach (var post in posts)
{
    <div>
        <h2>@post.Title</h2>
        <p>@post.Content</p>
        <small>@post.DatePosted</small>
    </div>
}

@code {
    private IEnumerable<Post> posts;

    protected override void OnInitialized()
    {
        posts = PostService.GetAllPosts();
    }
}

