@page "/posts"
@using PPTWebApp.Data.Models
@using PPTWebApp.Data.Services
@inject PostService PostService
@rendermode InteractiveServer

<div class="posts-page-container">
    <PPTWebApp.Components.Pages.Sections.PostsShowcased />

    <PPTWebApp.Components.Pages.Sections.PostsOverview />
</div>

@code {
}
